*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	opacity: .9;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

a:hover{
	opacity: 1;
}

a.btn{
	border-radius: 4px;
	font-weight: 800;
	color: #fff;
	background-color: #2196F3;
	text-transform: uppercase;
	text-align: center;
}

hr{
	width: 50vw;
	height: 2px;
	border: 0;
	background-color: #37638a;
}

html{
	color: #414a4f;
	font-family:'Poppins', sans-serif;
}

ul, nav {
	list-style: none;
}

ul.grid{
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
}



/*--------------------------HEADER--------------------------*/



header {
	width: 100%;
	background-color: rgb(32, 64, 68);
	color: #eeeeee;
	justify-content: space-between;
	align-items: center;
	display: flex;
}

header a {
	height: 100%;
	width: 40%;
	display: flex;
	}	
	#logo {
		height: 100%;
		width: 100%;
}



header nav {
	width: 60%;
	height: auto;
	justify-content: flex-end;
	display: flex;
}

header nav li{
	margin: 3%;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

@media screen and (min-width: 200px) {
	header nav li {
	  font-size: calc(14px + 6 * ((100vw - 320px) / 680));
	}
}
  
@media (orientation: landscape) {
	header a {
		height: 100%;
		width: 20%;
		display: flex;
	}
}


/*--------------------------PRODUCTS--------------------------*/



.products{
	background-color: #eeeeee;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 80vh;
}

.title {
    padding-top: 1em;
	color: #414a4f; 
	font: bold 2.5rem 'Montserrat', sans-serif;
	text-align: center;
}


.grid p {
	width: 85%;
	margin: 1em 0;
	padding: 1em 0;
	color: #414a4f;
    font: 1rem 'Poppins', sans-serif;
	text-align: center;
}

.grid .slides {
	height: 300px;
	margin: 2%;
	border-radius: 4px;
	background-color: #414a4f;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
    flex-basis: 90%;
}

.layout{
	width: 100%;
    margin-bottom: 1.2vh;
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
}

.layout li {
	margin: 1vh 1vw;
	align-items: center;
	flex-wrap: wrap;
}

a.button1{
	padding:0.35em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	border:0.1em solid #414a4f;
	color:#414a4f;
	font-family:'Montserrat',sans-serif;
	transition: all 0.2s;
	text-decoration:none;
	box-sizing: border-box;
	text-align:center;
	display:inline-block;
}
	a.button1:hover{
	color:#cacaca;
	background-color:#2b2b2b;
	}
	@media all and (max-width:30em){
	 a.button1 {
		margin:0.4em auto;
		display:block;
	}
} 

/*--TABLET--*/
@media (min-width: 768px) {
	.grid .slides {
		flex-basis: 40%;
		height: 320px;
	}
}

/*--DESKTOP--*/
@media (min-width: 1367px) {
	.grid .slides {
		height: 650px;
	}
}

/*--MOBILE LANDSCAPE--*/
@media (max-height: 414px) {

}



/*--------------------------FOOTER--------------------------*/



footer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}

.socialicons {
	background-color: rgb(32, 64, 68);
	color: #ffffff;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.socialicons a {
	margin: auto 12px;
	font-size: 35px;
}

.legal {
	background-color: rgb(32, 64, 68);
	color: #ffffff;
	height: auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ppolicy,
.tconditions {
	font-size: 12px;
	margin: 6px 8px;
}
/*--TABLET--*/
@media (min-width: 768px) {
	.ppolicy, .tconditions {
		font-size: 14px;
		margin: auto 12px;
	}
	.socialicons a {
		margin: 15px;
		font-size: 45px;
	}
}
/*--DESKTOP--*/
@media (min-width: 1367px) {
	.ppolicy, .tconditions {
		font-size: 16px;
	}
}