
body {
  font-family: 'Poppins', sans-serif;
}
.bodyWrap {
  min-height: 100vh;
}
/* BUTTONS */
.btn {
  border-radius: 7px;
}
/* NAVBAR */
.navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.navbar-toggler, .collapsed{
  border: 2px none !important;
  box-shadow: none !important;
}
.logoImage {
  height: 25px;
  width: auto;
}
.logoImage2 {
  height: 150px;
  width: auto;
}
/* HERO */
.heroimage {
  position: fixed;
  z-index: -1;
  transform: translateY(40px);
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
/* PRODUCT IMAGE */
.productIMG {
  height: 100%;
  width: 100%;
}
/* BACKGROUND COLOR */
.bg-custom1 {
  background-color: rgba(255, 253, 250, 0.969);
}
.bg-custom2 {
  background-color: rgba(255, 252, 247, 0.969) !important;
}
/* ORANGE BUTTON */
.btn-orange,
.bg-orange {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 105, 42);
    border-color: rgb(240, 105, 42);
}
.text-orange,
.navbar-orange {
  color: rgb(240, 105, 42);
}
/* RED BUTTON */
.btn-red,
.bg-red {
    color: rgb(255, 255, 255);
    background-color: rgb(199, 32, 47);
    border-color: rgb(199, 32, 47);
}
.text-red,
.navbar-red {
  color: rgb(199, 32, 47);
}
/* FRONT PAGE */
#frontContainer {
  height: 100%;
  width: 100%;
  margin-top: 15vh;
  margin-bottom: 25vh;
}

/* ACCORDION STUFF */

.accordion-button:not(.collapsed) {
  color: rgb(255, 255, 255);
  background-color: rgba(199, 32, 46, 0.75);
}
.accordion-button:focus {
  border-color: rgb(199, 32, 46);
  outline: 1;
  box-shadow: 0 0 1px .25rem rgb(199 32 46 / 85%);
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}


/* SAFARI DOESN'T COOPERATE */
#imgcontainer img {
  width: 100%;
  height: 100%;
}
#socialContainer i {
    margin: 0 .5rem;
}
/* CONTACT BOXES */
.contactBoxes {
  border: solid black 2px;
}
/* GOOGLE MAP */
#googleMap,
#gmap_canvas {
  min-height: 320px;
}
#googleMap a{
  visibility: hidden;
}
/* FOOTER SIZE */
#legalStuff,
#copyrights,
#socialContainer {
  font-size: .7rem;
}